.column{
  flex-direction: column;
}

.row{
  flex-direction: row;
}

.square{
  height: max(5vw,50px);
  width: max(5vw,50px);;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: max(0.2vw,2px);
  font-size: max(3vw,30px);
  color: blueviolet;
  background-color: black;
  border-width: 0;
}

.highlight{
  border-width: max(0.3vw,3px);
  border-color: white;
}

.status{
  font-size: max(3vw,30px);
  font-weight: bold;
  font-family: cursive;
  background: linear-gradient(
    to right,
    rgb(9, 202, 9),
    rgb(0, 247, 255)
  );
  background-clip: text;
  color: transparent;
}

.board-row{
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}

.game{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgb(129, 17, 240),    
    rgb(218, 10, 237),
    rgb(224, 11, 125),
    rgb(241, 86, 8)
  );
}

.game-info{
  font-size: max(2vw,20px);
}

.descending{
  color: white;
  padding-left: 2.5rem;
  padding-top: 0.2vh;
}

.history{
  list-style-type: none;
  color: greenyellow;
  font-size: inherit;
  font-family: sans-serif;
}

.history>button{
  padding: 0;
  background: transparent;
  border: 0;
  color: white;
  font-size: inherit;
}

.history>button:hover{
  cursor:pointer;
}

.toggle {
  position : relative ;
  display : inline-block;
  width : max(6vw,60px);
  height : max(2vw,20px);
  background-color: rgb(105, 66, 233);
  border-radius: 30px;
}

.toggle:after {
  content: '';
  position: absolute;
  width: max(1.8vw,18px);
  height: max(1.8vw,18px);
  border-radius: 50%;
  background-color: rgb(210, 32, 223);
  top: max(0.1vw,1px);
  left: max(0.2vw,2px);
  transition:  all 0.5s;
}
     
.checkbox:checked + .toggle::after {
  left : max(4.1vw,41px);
  background-color: rgb(210, 32, 223);
}
     
.checkbox:checked + .toggle {
  background-color: green;
}
     
.checkbox {
  display : none;
}